@font-face {
  font-family: "Antonio";
  src:url("../fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "Mellony";
  src:url("../fonts/mellony dry brush.ttf");
}

@font-face {
  font-family: "StayRad";
  src:url("../fonts/Stay Rad - Demo.ttf");
}

@font-face {
  font-family: "Beauty";
  src:url("../fonts/Beauty.ttf");
}


.body{
  padding: 0px;
  margin: 0px;
    overflow:hidden;
}

#linePath{
    margin:0 auto;
    position:absolute;
    height:2000px;

}
#landingLine{
    z-index:99;
}


.background{
    background-color:#d5cace;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    align-content: center;
    margin:auto;
    padding:0;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

#landingPage{
    background-image: url("../images/myStory.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}
.containerText {
    margin:0 auto;
    margin-top:80px;

}

.containerText h1{
    text-align: center;
    font-size: 29px;
/*      transform: translateY(-50%);*/
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
/*    height:40px;*/
    margin-top:-4vh;
}

#nameContainer{
    height:auto;
/*    overflow:hidden;*/
}

#ryanZeng{
/*    height:10vh;*/
    z-index:200;
}
#landingName {
  /*left:23.5%;*/
  /*top: 10%;*/
    font-family: 'Mellony';
    font-size: 10vw;
    z-index:200;

}

#optionContainer{
    margin-left:50px;
    margin-top:-30px;
}
li {
    font-family: "Antonio";
/*    font-size: 36px;*/
    font-size:5vh;
    display: inline-block;
    padding-right:14vh;
/*    padding-right: 200px;*/
    text-transform: uppercase;
    margin-top:5vh;
    z-index:100;
    width:auto;
}

a {
  text-decoration: none;
  color: black;
}

nav ul li a {
  padding: 15px;
  z-index:100;  

}

.fill{
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: auto;
  z-index:100;

}

ul{
  overflow: hidden;
  list-style: none;
  height: 20vh;
  line-height: 0px;
    margin:0 auto;
/*    margin-top:-1vh;*/
/*  transform: translate(0%,-20vh);*/
/*  transform: translate(0%,-180%);*/
  z-index:100;
}

nav.fill ul li a {
  position: relative;
  z-index:100;

}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  z-index:100;

}


nav.fill ul li a {
  transition: all 2s;
  z-index:100;

}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
  z-index:100;

}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 101;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/*
.myInfoBox {
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 0px;
  width: 700px;
}
*/

/*PORTFOLIO Page*/

#portfolioPage {
background-color:#d5cace;
height: auto;
/*overflow: hidden;*/
background-position: center center;
background-repeat: no-repeat;
text-align:center;
align-content: center;
margin:auto;
padding:0;
background-size: cover;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-size: cover;
}

.pBackground {
  background-image: url("../images/pBackground.jpg");
  width: 100%;
/*  height: 140vh;*/
    height:auto;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;

}

.pContainer {
  z-index: 100000;
  color: grey;
  width: 100%;
  height: auto;
}

#portfolio{
    z-index:200;
    margin-top: 17%;
}
#portfolioName {
  /*left:23.5%;*/
  /*top: 10%;*/
    font-family: 'Beauty';
    font-size: 15vh;

    z-index:200;
}
#projContainer{
    height:200%;
    padding-bottom:40px;
    margin:0 auto;
    z-index:102;
    display:inline-block;
}
#projContainer div{
    height:231px;
    width:231px;
    float:left;
    margin-left:10vh;
    margin-top:3vh;
    z-index:102;
    
}
.projects{
    height:231px;
    width:231px;
}
.arrowLeft{
    position:absolute;
    z-index:102;
    height:37px;
    transform:translate(8px, 93px);
    cursor:pointer;
}
.arrowRight{
    position:absolute;
    z-index:102;
    height:37px;
    transform:translate(209px, 93px);
    cursor:pointer;
}
#proj1{
    background-color:#626262;
    z-index:102;
}
#proj1Picture{
    height:231px;
    width:231px;
    z-index:102
    z-index:102;

}
#proj1Picture_2{
    height:231px;
    width:231px;
    z-index:102;

}
#proj2{
    background-color:#626262;

}
#proj2Picture{
    height:231px;
    width:231px;
    z-index:101;

}
#proj3{
    background-color:#626262;

}
#proj3Picture{
    height:231px;
    width:231px;
    z-index:101;

}



/*ABOUT Page*/
#aboutPage {
    overflow: hidden;
    text-align:center;
    height:auto;
    width:auto;
    background-color: white;
    margin-bottom: 100px;

}
#aboutTitle{
    font-family: 'Nixie One', cursive;
    font-weight:normal;
    font-size:125px;
    font-size:8vw;
    margin-bottom:50px;
    text-align:center;
    letter-spacing:40px;
    letter-spacing:3vw;
    transform:translateX(2vw);
}

/*ABOUT Page END*/


#resumePage{
  background-image: url("images/beachOne.jpg");
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-size: cover;
  animation: beachFrames 35s ease-in-out 0s infinite;
}


#resume{
    font-family: 'Calligraffitti', cursive;
    font-weight:normal;
    font-size: 20vw;
    margin:0 auto;
    margin-top:30vh;
}
#resumeContainer{
    
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

@keyframes beachFrames {
  0% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  7% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  14% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  21% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  28% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  35% {
    background-image: url("../images/beachFour.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  42% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  49% {
    background-image: url("../images/beachSix.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  56% {
    background-image: url("../images/beachFive.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  63% {
    background-image: url("../images/beachSix.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  70% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  77% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  89% {
    background-image: url("../images/beachFour.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  100% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

    /* TEXT ANIMATION */
    #myTypingText {
        /*background-color:#000;*/
        padding:5px;
        color:#FFF;
        color: white;
    }



}
