@font-face {
  font-family: "Antonio";
  src:url("../fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "Mellony";
  src:url("../fonts/mellony dry brush.ttf");
}

@font-face {
  font-family: "StayRad";
  src:url("../fonts/Stay Rad - Demo.ttf");
}



.body{
  padding: 0px;
  margin: 0px;
}

.background{
  background-image: url("../images/myStory.jpg");
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-size: cover;
  line-height: 450px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

.background h1 {
  /*left:23.5%;*/
  /*top: 10%;*/
font-family: 'Mellony';
font-size: 123.66px;
}

li {
  font-family: "Antonio";
  font-size: 36px;
  display: inline-block;
  padding-right: 200px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

nav ul li a {
  padding: 15px;
}

.fill{
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: auto;
}

ul{
  overflow: hidden;
  list-style: none;
  height: 250px;
  line-height: 250px;
  transform: translate(5%,-120%);
  z-index: 100;
}

nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}


nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

.myInfoBox {
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 0px;
  width: 700px;
}




/*PORTFOLIO Page*/
#portfolioPage {
    background: linear-gradient(#d5d5d5,#86b4de);
    text-align:center;
    width: 100%;
    height: 1500px;
    overflow:hidden;
    background-attachment: fixed;
    background-size: cover;
}
#portfolioTitle{
    font-family: 'Biryani', sans-serif;
    font-weight:normal;
    font-size:125px;
    font-size:8vw;
    margin-top:150px;
    margin-bottom:0px;
    text-align:center;
    letter-spacing:40px;
    letter-spacing:3vw;
    transform:translateX(29px);
    color:#333a56;
}
#middle_portfolio{
    height:2000px;
    width:80vw;
    display:inline-block;
}

/*Project Template Divs*/
.projectDivs{
    color:white;
    background-color:#CAEBF2;
    background-color:#14517c;
    background: linear-gradient(#1a6599,#1f7cbd);
    width: 350px;
    height:460px;
    vertical-align: top;
    display: inline-block;
    overflow:hidden;
    margin: 80px 100px 0px 100px;
    box-shadow: 0px 0px 10px 0px #333A56;
}
.projectTop{
    width:350px;
    height:350px;
    max-height:350px;
    min-height 350px;
    overflow:hidden;
    background-color: #3d8dce;
}
.slideshowArrow{
    height:40px;
    float:left;
    position:absolute;
    cursor:pointer;
}
.projectBottom{
    width:350px;
    height:50px;
    max-height: 50px;
    min-height:50px;
    text-align:left;
    margin:0px;
}

.projectTitle{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:50px;
    margin-left: 20px;
}
.arrowUp{
    height:15px;
    cursor: pointer;
}
.projDescript{
    padding:24px;
    width:308px;
    font-size:20px;
    letter-spacing: 4px;
}
#project1Description{
}
.descriptionLine{
    width:326px;
    height:2px;
    margin-left:12px;
    background-color:#333a56;
}


.webText{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:18px;
    margin-left: 20px;
    cursor: pointer;
    color: white;
}
.tagText{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:14px;
}
/*Project 1: Remedi*/
#proj1Left{
    margin-left:-175px;
    margin-top:180px;
}
#proj1Right{
    margin-left:148px;
    margin-top:180px;
    }
#proj1Up{
    transform: translate(150px, -5px);
}
#proj1Info{
    height:60px;
    max-height:410px;
    min-height:60px;
    text-align:left;

}
#proj1TagDiv{
    transform:translate(10px, 19px);
}

/*Project 2: Meme-age*/
#proj2Up{
    transform: translate(95px, -5px);

}

#proj2Info{
    height:60px;
    max-height:410px;
    min-height:60px;
    text-align:left;
}
#proj2WebDiv{
    transform:translateY(19px);
}
#proj2TagDiv{
    transform:translate(10px, 19px);
}

/*Project 3: ...*/


/*ABOUT Page*/
#aboutPage {
    overflow: hidden;
    text-align:center;
    height:auto;
    width:auto;
    background-color: white;
    margin-bottom: 100px;

}
#aboutTitle{
    font-family: 'Nixie One', cursive;
    font-weight:normal;
    font-size:125px;
    font-size:8vw;
    margin-bottom:50px;
    text-align:center;
    letter-spacing:40px;
    letter-spacing:3vw;
    transform:translateX(2vw);
}
#aboutHeadshot{
    margin-left:5vw;
    float:left;
    width:350px;

}
#aboutImageDiv{
    height:350px;
    border: 6px #00ddd8 double;
    overflow:hidden;
}
#headshotImage{
    width:500px;
    height:350px;
    transform: translateX(-50px);
}
#quoteDiv{
}
#aboutBody{
    margin-left: 5vw;
    margin-right:vw;
    width:60%;
    float:left;
    text-align:left;
}
#contactDiv{
    width:auto;
    margin-top:10vh;
    margin-left:5vw;
    float:left;
    text-align: left;
}

.aboutFont{
    font-family:'century gothic';
    font-size:3.5vh;
}
.contactFont{
    font-family:'century gothic';
    font-size:3.5vh;
    margin-left:0px;
}
.contactLink:hover{
    background-color:#00ddd8;
    color:#262c3a;

}
.contactLogo{
    width:8vh;
    float:left;
    margin-right:3vh;
}
.contactDiv .contactTooltip{
    visibility:hidden;
    width:10vh;
    background-color:black;
    color:#ffff;
    text-align:center;
    padding:5px 0;
    font-size:2vh;
    border-radius:6px;
    position:absolute;
    margin-left:-12vh;
    margin-top:8vh;
    
    
}
.contactDiv:hover .contactTooltip{
    visibility:visible;
}

/*ABOUT Page END*/


#resume{
  background-image: url("images/beachOne.jpg");
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  background-size: cover;
  animation: beachFrames 35s ease-in-out 0s infinite;
}


#resume h1 {
    /*left:23.5%;*/
    /*  top: 60px;*/
    font-family: 'StayRad';
    font-size: 350px;
    line-height: 420px;
}

@keyframes beachFrames {
  0% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  7% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  14% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  21% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  28% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  35% {
    background-image: url("../images/beachFour.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  42% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  49% {
    background-image: url("../images/beachSix.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  56% {
    background-image: url("../images/beachFive.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  63% {
    background-image: url("../images/beachSix.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  70% {
    background-image: url("../images/beachThree.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  77% {
    background-image: url("../images/beachTwo.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  89% {
    background-image: url("../images/beachFour.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }

  100% {
    background-image: url("../images/beachOne.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    background-size: cover;
  }



}
